@model IEnumerable<ControleAcessoLivros.Models.StatusLivro>

@{
    ViewData["Title"] = "Livraria da Vivi";
}

<h1>Status</h1>

<p>
    <a asp-action="Create">Adicionar Novo Status</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.StatusLivroId">Editar</a> |
                <a asp-action="Details" class="btn btn-light" asp-route-id="@item.StatusLivroId">Detalhes</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.StatusLivroId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
